.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  /*using CSS variable*/
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
}

.estrutura {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  border-left: 5px solid brown;
  border-top: 5px solid brown;
  border-right: 5px solid brown;
  background-color: #0005;
  width: 90%;
}

.porta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: chocolate;
  padding: 15px;

}

.selecionada {
  border-left: 5px solid gold;
  border-top: 5px solid gold;
  border-right: 5px solid gold;
}

.macaneta {
  position: absolute;
  align-self: flex-start;
  /*using 'calc' for calculate the position in top relative*/
  top: calc(0.45 * var(--area-porta-altura));
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: brown;
}

.chao {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}

.numero {
  font-size: 3rem;
  color: #ddd
}

.selecionada .numero {
  color: gold;
}

.selecionada .macaneta {
  background-color: gold;
}