.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex: 1;
  cursor: pointer;
}